*{
    margin : 0px;
}


.flex-container {
    display: flex;
    flex-direction: column;
    height : 100vh;
}

.header {
    flex: 4;
    background-color: #1F2937;
}
#b1 {
    flex: 3.75;
}
#b2 {
    flex: 3;
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
}
#b3 {
    flex: 2.5;
    justify-content: center;
    align-items: center;
    display: flex;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex : 1;
    background-color: #1F2937;
    color : #f9faf8;
    font-size: 12px;
}

.flex-container-2{
    display: flex;
    background-color: #3882f6;
    width: 60%;
    height: 50%;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    color: white;
    font-family : hero, arial, roboto;
}

.textbox {
    flex: 1;
    margin: 55px;
}

.textbox-2{
    width: 65%;
    font-size: 20px; 
    font-weight: light;
    color : #1f2937;
    text-align: justify;
    font-family: hero;
}

button {
    background-color: #3882f6;
    font-size: 12px;
    flex: 1;
    margin: 55px;
    border-radius: 8px;
    border-color: white;
    color: white;
    padding-inline: 12px;
    padding-block: 3px;
}

.flex-container-3 {
    display: flex;
    height : 90%;
    justify-content: center;
    align-items: center;
    font-family : hero, arial, roboto;
    gap: 30px;
    padding-top: 15px;
}

.body-image{
    border: 3px solid #3882f6;
    border-radius: 12px;
    width: 100px;
    height: 100px;
    align-items: center;
    background-color: transparent;
    
}

.caption {
    font-size: 16px;
    text-align: center;
    padding-top: 3px;
}